{{>layouts/header}}

{{#errorMessage}}
        <div class="alert alert-danger">{{errorMessage}}</div>
{{/errorMessage}}

<form method="POST">
    <div class="row mb-3">
        <label for="oldPassword" class="col-sm-2 col-form-label">이전 비밀번호</label>
        <div class="col-sm-10">
            <input name="oldPassword" type="password" class="form-control" id="oldPassword" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="newPassword" class="col-sm-2 col-form-label">새 비밀번호</label>
        <div class="col-sm-10">
            <input name="newPassword" type="password" class="form-control" id="newPassword" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="newPasswordConfirmation" class="col-sm-2 col-form-label">새 비밀번호 확인</label>
        <div class="col-sm-10">
            <input name="newPasswordConfirmation" type="password" class="form-control" id="newPasswordConfirmation" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">비밀번호변경</button>
</form>
{{>layouts/footer}}