{{>layouts/header}}
<h1>{{pageTitle}}</h1>

{{#errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/errorMessage}}

<form method="POST">
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input name="username" type="text" class="form-control" id="inputEmail3" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input name="password" type="password" class="form-control" id="inputPassword3" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
</form>
{{>layouts/footer}}