{{>layouts/header}}
<div class="container" style="max-width: 800px;">
    <h3 class="mb-4">게시판</h3>

    {{#successMessage}}
        <div class="alert alert-success">{{successMessage}}</div>
    {{/successMessage}}

    {{#errorMessage}}
        <div class="alert alert-danger">{{errorMessage}}</div>
    {{/errorMessage}}
    <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="/articles/post" class="btn btn-secondary">새 글 작성</a>

        <form action="/articles/search" method="get" class="d-flex">
            <select name="type" class="form-select me-2" style="width: 100px;">
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
            <input type="text" name="keyword" class="form-control me-2" placeholder="검색어 입력">
            <button type="submit" class="btn btn-outline-dark" style="white-space: nowrap;">검색</button>
        </form>
    </div>
    <table class="table table-hover text-center border-top border-2 border-dark">
        <thead class="table-light">
        <tr>
            <th style="width: 15%;">번호</th>
            <th style="width: 25%;">제목</th>
            <th style="width: 25%;">내용</th>
            <th style="width: 20%;">작성자</th>
            <th style="width: 15%;">작성일시</th>
        </tr>
        </thead>
        <tbody>
        {{#articleList}}
            <tr>
                <td><span>{{id}}</span></td>
                <td><a href="/articles/{{id}}">{{title}}</a></td>
                <td>
                    <div style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <a href="/articles/{{id}}">{{content}}</a>
                    </div>
                </td>
                <td><span>{{username}}</span></td>
                <td><span>{{formattedCreatedAt}}</span></td>
            </tr>
        {{/articleList}}
        </tbody>
    </table>


</div>
{{>layouts/footer}}
