{{>layouts/header}}

{{#errorMessage}}
    <div class="alert alert-danger">{{.}}</div>
{{/errorMessage}}

{{#article}}
    <div class="container mt-4 mb-4" id="articleContainer" data-id="{{id}}">
        <div class="card">
            <div class="card-header bg-light">
                <h3 class="mb-0">제목:  {{title}}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">작성자: {{username}}</li>
                <li class="list-group-item">작성일시: {{formattedCreatedAt}}</li>
            </ul>
            <div class="card-body">
                <p class="card-text" style=" white-space: pre-line; min-height: 200px;">{{content}}</p>
            </div>
        </div>
    </div>
{{/article}}

<a href="/articles" class="btn btn-secondary">목록 페이지</a>
<div></div>
{{#article}}
    {{#isOwner}}
        <a href="/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
        <a href="/articles/{{id}}/delete" class="btn btn-danger">Delete</a>
    {{/isOwner}}
{{/article}}
{{#loggedIn}}
    <div >
        <form class id="commentForm">
            <textarea cols="50" rows="10" placeholder="Write comment..."></textarea>
            <button>Add Comment</button>
        </form>
    </div>
{{/loggedIn}}

<div class="article__comments">
    <ul>
        {{#comments}}
            <li data-id="{{id}}">
                <span> {{text}}</span>
                {{#canDelete}}
                    <span class="deleteBtn">❌</span>
                {{/canDelete}}
            </li>
        {{/comments}}
    </ul>
</div>


{{>layouts/footer}}
<script src="/js/commentSection.js"></script>